﻿

<!--Header Email Template-->
<table width="600" style="margin: auto;">
    <tbody>
    <tr>
        <td style="width: 600px;" >
            <img src="https://apps.agility.com/AgilityDelivers/AGFX/header_new.jpg">
        </td>
    </tr>
    </tbody>
</table>

<!--Welcome Note-->
<table width="600" style="width: 600px; margin: auto; padding-top: 20px;">
    <tbody>
    <tr>
<td style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">Hi {user_name},
            </td>
    </tr>
    <tr>
        <td width="600" style="font-weight: 600;padding-bottom:10px;" >
				<span style="font-family: 'Open Sans', sans-serif; font-weight: 400; color: #333; font-size: 16px; text-decoration: none;">
				Thank you for initiating a booking on Shipa Freight.                  
				</span>
        </td>
    </tr>
  </tbody>
</table>
    <table width="600" style="background-color: #f0f0f0; width: 600px; margin: auto; padding-top: 20px; padding-left: 20px">
    <tbody>
          <tr>
        <td width="600" style="font-weight: 600;padding-top:10px" >
				<span style="font-family: 'Open Sans', sans-serif; font-weight: 400; color: #333; font-size: 16px; text-decoration: none;">
				To proceed with your payment through wire transfer please use the bank information below to deposit your payment, once we’ve received the amount we will confirm your booking.                  
				</span>
        </td>
    </tr>
    </tbody>
</table>


<!--DeliveryBox-->
<table width="600" style="background-color: #f0f0f0; width: 600px; margin: auto; padding-left: 20px; padding-top: 10px; padding-right: 20px">
    <tbody>
    <tr style="width: 100%;">
        <td>
            <table style="width: 100%; padding: 10px; background-color: #fff; border: 1px solid #ddd">
                <tbody>
                <tr style="vertical-align: top">
                    <td  style="font-family: 'Open Sans', sans-serif;  text-transform: uppercase; padding: 00px 10px; color: #abadad;  font-family: 'Open Sans', sans-serif; text-transform: capitalize">
                        <div style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">Booking Id</div>
                    </td>
                    <td  style="font-family: 'Open Sans', sans-serif;  text-transform: uppercase; padding: 00px 10px; color: #abadad; font-family: 'Open Sans', sans-serif; text-transform: capitalize">
                        <div style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">
                            {Booking_Id}
                        </div>
                    </td>

                </tr>
				<tr style="vertical-align: top">
                    <td  style="font-family: 'Open Sans', sans-serif;  text-transform: uppercase; padding: 00px 10px; color: #abadad;  font-family: 'Open Sans', sans-serif; text-transform: capitalize">
                        <div style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">Acc. Holder Name</div>
                    </td>
                    <td  style="font-family: 'Open Sans', sans-serif;  text-transform: uppercase; padding: 00px 10px; color: #abadad; font-family: 'Open Sans', sans-serif; text-transform: capitalize">
                        <div style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">
                            {AccHolder_Name}
                        </div>
                    </td>

                </tr>
				<tr style="vertical-align: top">
                    <td  style="font-family: 'Open Sans', sans-serif;  text-transform: uppercase; padding: 00px 10px; color: #abadad;  font-family: 'Open Sans', sans-serif; text-transform: capitalize">
                        <div style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">Bank Name</div>
                    </td>
                    <td  style="font-family: 'Open Sans', sans-serif;  text-transform: uppercase; padding: 00px 10px; color: #abadad; font-family: 'Open Sans', sans-serif; text-transform: capitalize">
                        <div style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">
                            {Bank_Name}
                        </div>
                    </td>

                </tr>
				<tr style="vertical-align: top">
                    <td  style="font-family: 'Open Sans', sans-serif;  text-transform: uppercase; padding: 00px 10px; color: #abadad;  font-family: 'Open Sans', sans-serif; text-transform: capitalize">
                        <div style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">Branch</div>
                    </td>
                    <td  style="font-family: 'Open Sans', sans-serif;  text-transform: uppercase; padding: 00px 10px; color: #abadad; font-family: 'Open Sans', sans-serif; text-transform: capitalize">
                        <div style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">
                            {Branch}
                        </div>
                    </td>
                </tr>
				<tr style="vertical-align: top">
                    <td  style="font-family: 'Open Sans', sans-serif;  text-transform: uppercase; padding: 00px 10px; color: #abadad;  font-family: 'Open Sans', sans-serif; text-transform: capitalize">
                        <div style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">Account No</div>
                    </td>
                    <td  style="font-family: 'Open Sans', sans-serif;  text-transform: uppercase; padding: 00px 10px; color: #abadad; font-family: 'Open Sans', sans-serif; text-transform: capitalize">
                        <div style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">
                            {Account_No}
                        </div>
                    </td>
                </tr>
				<tr style="vertical-align: top">
                    <td  style="font-family: 'Open Sans', sans-serif;  text-transform: uppercase; padding: 00px 10px; color: #abadad;  font-family: 'Open Sans', sans-serif; text-transform: capitalize">
                        <div style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">Swift Code</div>
                    </td>
                    <td  style="font-family: 'Open Sans', sans-serif;  text-transform: uppercase; padding: 00px 10px; color: #abadad; font-family: 'Open Sans', sans-serif; text-transform: capitalize">
                        <div style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">
                           {Swift_Code}
                        </div>
                    </td>
                </tr>
				<tr style="vertical-align: top">
                    <td  style="font-family: 'Open Sans', sans-serif;  text-transform: uppercase; padding: 00px 10px; color: #abadad;  font-family: 'Open Sans', sans-serif; text-transform: capitalize">
                        <div style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">IFSC/IBAN Code</div>
                    </td>
                    <td  style="font-family: 'Open Sans', sans-serif;  text-transform: uppercase; padding: 00px 10px; color: #abadad; font-family: 'Open Sans', sans-serif; text-transform: capitalize">
                        <div style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">
                            {IFSC_Code}
                        </div>
                    </td>
                </tr>                
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

<table width="600" style="background-color: #f0f0f0; width:600px; margin:auto; padding-left: 20px; padding-top: 20px; padding-bottom: 20px">
    <tbody>
    <!-- <tr> -->
        <!-- <td style="padding-top: 10px"> -->
            <!-- <table> -->
                <!-- <tbody style=""> -->
                <!-- <tr> -->
                    <!-- <td style="font-family: 'Open Sans', sans-serif; background-color: #f29221;  padding: 10px; text-align: center; color: #FFF;"> -->
                        <!-- <a href="#" style="height: 50px ;width: 100px; text-align: center; color: #FFF; background-color: #f29221; text-decoration: none; text-transform: uppercase;">Download Invoice</a> -->
                    <!-- </td> -->
                <!-- </tr> -->
                <!-- </tbody> -->
            <!-- </table> -->
        <!-- </td> -->
    <!-- </tr> -->
     <tr>
            <td style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px">Team Shipa Freight
            </td>
        </tr>
    </tbody>
</table>

<!--Footer Email template-->
 <table width="600" style="background-color: #333; font-family: 'Open Sans', sans-serif; width: 600px; margin: auto; padding: 15px 20px; text-align: center">
        <tbody>
        <tr>
            <td style="color: #fff; text-align: left">
                 <span style="color: #CCCCCC; text-decoration: none; font-size: 12px">{copyright} <a href="http://www.agility.com" target="_blank" style="text-decoration: none; color: #CCCCCC">Agility</a></span>
            </td>
            <td style="color: #fff; text-align: right">
                <span style="color: #CCCCCC; text-decoration: none; font-size: 12px"><a href="{webappurl}" target="_blank" style="text-decoration: none; color: #CCCCCC">{webappurl}</a></span>
            </td>
        </tr>
        </tbody>
    </table>
