<table width="600px" style="margin: auto;">
	<tbody>
		<tr>
			<td style="width: 600px;" >
				<img src="https://apps.agility.com/AgilityDelivers/AGFX/header_new.jpg">
			</td>
		</tr>
	</tbody>
</table>
<table width="600px" style="margin: auto; font-family: 'Open Sans', sans-serif; padding-top:20px; ">
	<tbody>
		<tr>
			<td style="padding-left: 20px; font-weight: 00; font-size: 1.6rem;">
				Hi {Email},
			</td>

		</tr>
		<tr>
			<td style="font-family: 'Open Sans', sans-serif; padding-left:20px; width:420px; font-weight: 600; font-size: 1.7rem;" >
				<span style="color: #a7a7a7;">
					A booking summary has been shared with you by 
				</span>
				<span style="color: #000000; text-decoration: none;">
					{Created_by}
				</span>
				<br>
			</td>
			
			<td style="width: 200; padding-left:20px; padding-right: 20px; ">
				<a href="https://www.google.com" style="color: #f29221; text-decoration: none;">View in browser</a>
				<br>
			</td>
		</tr>
	</tbody>
</table>

<table style="width: 600px; margin: auto; padding: 20px;">
	<tbody>
		<tr style="width: 100%;">
			<td>
				<table style="width: 100%; background-color: #f5f5f5; font-family: 'Open Sans', sans-serif; padding: 10px;">
					<tbody>
						<tr>
							<td>
								<table  style="width: 100%;">
									<tbody>
										<tr>
							<td style="text-transform: uppercase; padding: 00px 10px; color: #abadad;  font-family: 'Open Sans', sans-serif;">
								{orginplace} 
							</td>
							<td style="text-transform: uppercase; padding: 00px 10px; color: #abadad; padding-left: 95px; font-family: 'Open Sans', sans-serif;">
								{destinationPlace}
							</td>
						</tr>
									</tbody>
								</table>
							</td>
						</tr>

						<tr>
							<td>
								<table style="width: 100%;  font-family: 'Open Sans', sans-serif;">
					<tbody>
						<tr>
							<td style="font-size: 1.1rem;  padding: 10px 10px;">
								{plc_rcpt}	
							</td>
							<td style=" padding: 20px 10px;">
								<img src="https://apps.agility.com/AgilityDelivers/AGFX/arrow_new.png">
							</td>
							<td style="font-size: 1.1rem; padding: 10px 10px;">
								{plc_del}
							</td>
						</tr>
					</tbody>
				</table>
							</td>
						</tr>
						<tr>
							<td>
								<table style="width: 100%; font-family: 'Open Sans', sans-serif; text-align: right; border-top: 1px solid #e6e6e6;">
									<tbody>
										<tr>
											<td><br>
												<span style="font-family: 'Open Sans', sans-serif; color: #abadad;">Grand Total:</span> <span style="font-family: 'Open Sans', sans-serif; font-weight: 500; color: #000; font-size: 1.2rem;">USD</span> <span style="font-family: 'Open Sans', sans-serif; color: #000; font-weight: 600; font-size: 1.4rem;"> {quote_Amt}</span>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>

					</tbody>
				</table>
				
			</td>
		</tr>
		<tr>
			<td>
				
			</td>
		</tr>
	</tbody>
</table>
<table style="font-family: 'Open Sans', sans-serif; width: 600px; margin: auto;padding: 20px; padding-top: 0px;">
	<tbody>
		<tr>
			<td style="padding-top: 10px; padding-bottom: 10px; line-height: 1.4rem;">
				<span style="color: #a7a7a7; font-weight: 600;">Booking No.</span> <br>
				<span style="font-weight: 600;">{bookingID}</span>
			</td>
			
		</tr>
		<tr>	
				<td style="font-weight: 600;">	
						<br>	
						Shipment Details
				</td>
		</tr>
		<tr>	
			<td style="padding-top: 10px; padding-bottom: 10px;  line-height: 1.4rem;">

				<span style="color: #a7a7a7; font-weight: 600;">Mode of Transport</span> <br>
				<span style=""> 
						<img src="https://apps.agility.com/AgilityDelivers/AGFX/{mode_imag}.png" style="position: relative; top: 10px;">
				</span><span style="font-weight: 600;">{Mode_transport}</span>
			</td>

			<td style="padding-top: 10px; padding-bottom: 10px;  line-height: 1.4rem;">
				<span style="color: #a7a7a7; font-weight: 600;">Movement Type	</span> <br>
				<span style="font-weight: 600;">{Movement_Type}</span>
			</td>
			
		</tr>

		<tr>	
				<td style="font-weight: 600;">	
						<br>	
						Pickup goods from
				</td>
		</tr>
		<tr>
			<td style="padding-top: 10px; padding-bottom: 10px; line-height: 1.4rem;">
				<span style="color: #a7a7a7; font-weight: 600;">City</span> <br>
				<span style="font-weight: 600;">{pick_city}</span>
			</td>
			<td style="padding-top: 10px; padding-bottom: 10px;">
					<span style="color: #a7a7a7; font-weight: 600;">Port of Departure</span> <br>
				<span style="font-weight: 600;">{pickup_dep}</span>	
			</td>
		</tr>

		<tr>	
				<td style="font-weight: 600;">	
						<br>	
						Delivery goods from
				</td>
		</tr>
		<tr>
			<td style="padding-top: 10px; padding-bottom: 10px; line-height: 1.4rem;">
				<span style="color: #a7a7a7; font-weight: 600;">City</span> <br>
				<span style="font-weight: 600;">{del_City}</span>
			</td>
			<td style="padding-top: 10px; padding-bottom: 10px;">
					<span style="color: #a7a7a7; font-weight: 600;">Port of Departure</span> <br>
				<span style="font-weight: 600;">{del_depature}</span>	
			</td>
		</tr>
		<tr>	
				<td style="font-weight: 600;">	
						<br>	
						Cargo Details
				</td>
		</tr>

		{CargoDetails}
	</tbody>
</table>
<table style="width:600px; margin:auto; padding: 20px;">	
	<tbody>	
			<tr>	
				<td>	
						<table>	
								<tr>	
										<td style="background-color: #f29221; padding: 20px; text-align: center; width:161px;">	
							<span style="font-family: 'Open Sans', sans-serif; color: #FFF;">
								<a href="#" style=" background-color: #f29221;text-decoration: none; color: #FFF; ">
									VIEW DETAILS
								</a>
							</span>
					</td>
								</tr>
						</table>
				</td>	
			</tr>
	</tbody>
</table>
<table style="background-color: #000; font-family: 'Open Sans', sans-serif; width: 600px; margin: auto; padding: 15px 20px;">
	<tbody>
		<tr>
		
							<td style="color: #a5a5a5;">
								<a href="#" style="color: #a5a5a5; text-decoration: none;">www.shipafreight.com</a>
							</td>
                            <td style="color: #a5a5a5;">
                            	<a href="#" style="color: #a5a5a5; text-decoration: none;">How it works</a>
                            </td>
                            <td style="color: #a5a5a5;">
                            	<a href="#" style="color: #a5a5a5; text-decoration: none;">FAQ</a>
                            </td>
                            
                            
                            <td style="color: #a5a5a5;">
                            	<a href="#" style="color: #a5a5a5; text-decoration: none;">
                            		Visit us at www. agility .com
                            	</a>
                            </td>
		
	</tr>
	</tbody>
</table>