﻿<table width="600px" style="margin: auto;">
    <tbody>
        <tr>
            <td style="width: 600px;">
                <img src="https://apps.agility.com/AgilityDelivers/AGFX/header_new.jpg">
            </td>
        </tr>
    </tbody>
</table>
<table width="600px" style="margin: auto; font-family: 'Open Sans', sans-serif; padding-top: 20px;padding-bottom: 10px;">
    <tbody>
        <tr>
            <td style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">Dear NPC user,
            </td>
        </tr>
    </tbody>
</table>
<table width="600" style="background-color: #f0f0f0; margin: auto;">
    <tbody>
        <tr>
            <td style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px; padding: 10px 20px">
                <p style="margin-bottom: 0;">A customer {usermail} was not able to receive an instant quote due to missing (Origin/International Freight/ Destination) Charges from your respective country. </p>
            </td>
        </tr>
          <tr>
            <td style="padding: 5px 20px 20px 20px; color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px">Please click here to view the missing charges and login to provide the missing quote details from your country. Click the link below to be directed to the Quote in FOCiS.  
            </td>
        </tr>
             <tr>
            <td style="padding: 20px; padding-top: 0">
                <table>
                    <tbody>
                        <tr>
                            <td style="font-family: 'Open Sans', sans-serif; background-color: #f29221; width: 200px; padding: 10px; text-align: center; color: #FFF;">
                                <a href="{focisurl}" style="height: 50px; width: 100px; text-align: center; color: #FFF; background-color: #f29221; padding: 10px; text-decoration: none;">VIEW PENDING QUOTE</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>       
        <tr>
            <td style="padding: 5px 20px 20px 20px; color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px">

Once you’ve added the missing charges that pertain to your region please submit the added charges to the GSSC through FOCiS in order to ensure that the customer receives the quote they requested within the next 24 hours.
            </td>
        </tr>
        <tr>
            <td style="padding: 5px 20px 20px 20px; color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px">Team Shipa Freight
            </td>
        </tr>     
    </tbody>
</table>

<!--Footer Email template-->
<table width="600" style="background-color: #333; font-family: 'Open Sans', sans-serif; width: 600px; margin: auto; padding: 15px 20px; text-align: center">
    <tbody>
        <tr>
            <td style="color: #fff; text-align: left">
                <span style="color: #CCCCCC; text-decoration: none; font-size: 12px">{copyright} <a href="http://www.agility.com" target="_blank" style="text-decoration: none; color: #CCCCCC">Agility</a></span>
            </td>
            <td style="color: #fff; text-align: right">
                <span style="color: #CCCCCC; text-decoration: none; font-size: 12px"><a href="{webappurl}" target="_blank" style="text-decoration: none; color: #CCCCCC">{webappurl}</a></span>
            </td>
        </tr>
    </tbody>
</table>
