﻿<!--Header Email Template-->
<table width="600" style="margin: auto;">
    <tbody>
        <tr>
            <td style="width: 600px;">
                <img src="https://apps.agility.com/AgilityDelivers/AGFX/header_new.jpg">
            </td>
        </tr>
    </tbody>
</table>
<!--Welcome Note-->
<table width="600" style="width: 600px; margin: auto;padding-bottom:10px;">
    <tbody>
        <tr>
            <td width="600" style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">Hi {user},
            </td>
        </tr>
        <tr>
            <td style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">We’re so glad you’ve decided to try Shipa Freight’s quoting engine!</td>
        </tr>
    </tbody>
</table>


<table width="600" style="background-color: #f0f0f0; width: 600px; margin: auto; padding-top: 20px; padding-left: 20px">
    <tbody>
        <tr>
            <td width="600">
                <span style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">
                    <span style="font-size: 16px;">Please find your details below for Quote No.  {QuotationNumber}</span>
                </span>
            </td>
        </tr>
    </tbody>
</table>



<table width="600" style="background-color: #f0f0f0; width: 600px; margin: auto; padding-top: 20px; padding-left: 20px; color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">
    {SubmissionComments}
</table>

<table width="600" style="background-color: #f0f0f0; width: 600px; margin: auto; padding-left: 20px; padding-top: 0px; padding-right: 20px">
    <tbody>
        <tr style="width: 100%;">
            <td>
                <table style="width: 100%; padding: 20px; background-color: #fff; border: 1px solid #ddd">
                    <tbody>
                        <tr>
                            <td style="font-family: 'Open Sans', sans-serif; text-transform: uppercase; padding: 00px 10px; color: #abadad; font-family: 'Open Sans', sans-serif; text-transform: capitalize">{PlaceofReceipt}
                        <div style="margin-top: 10px; font-family: 'Open Sans', sans-serif; font-size: 1.1rem; color: #333">{OriginPlaceName}</div>
                            </td>
                            <td width="70">
                                <img src="https://apps.agility.com/AgilityDelivers/AGFX/arrow_new.png">
                            </td>
                            <td style="font-family: 'Open Sans', sans-serif; text-transform: uppercase; padding: 00px 10px; color: #abadad; font-family: 'Open Sans', sans-serif; text-transform: capitalize">{PlaceofDepature}
                        <div style="margin-top: 10px; font-family: 'Open Sans', sans-serif; font-size: 1.1rem; color: #333">{DestinationPlaceName}</div>
                            </td>

                        </tr>
                        <tr>
                            <td colspan="3" style="text-align: right">
                                <div style="border-top: 1px solid #e6e6e6; padding-top: 10px;">
                                    <span style="font-family: 'Open Sans', sans-serif; color: #abadad; font-size: 18px">Grand Total:</span>
                                    <span style="font-family: 'Open Sans', sans-serif; font-weight: 500; color: #000; font-size: 18px;">{PreferredCurrencyId}</span>
                                    <span style="font-family: 'Open Sans', sans-serif; color: #000; font-weight: 600; font-size: 18px;">{GrandTotal}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<table width="600" style="background-color: #f0f0f0; width: 600px; margin: auto; padding-left: 20px; padding-top: 0px;">
    <tbody>
        <tr>
            <td width="300" style="padding-top: 10px; padding-bottom: 10px;">
                <span style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">Quote Valid Until</span>
                <br>
                <span style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">{DateOfValidity}</span>
            </td>

            <td width="300" style="padding-top: 10px; padding-bottom: 10px;">
                <span style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">Mode of Transport</span>
                <br>
                <span style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">By {ProductName}</span>
            </td>

        </tr>
        <tr>
            <td width="600" style="padding-top: 10px; padding-bottom: 10px;">
                <span style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">Movement Type	</span>
                <br>
                <span style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">{MovementTypeName}</span>
            </td>
        </tr>
    </tbody>
</table>

<table width="600" style="background-color: #f0f0f0; width: 600px; margin: auto; padding-top: 20px; padding-left: 20px; padding-bottom: 20px;">
    <tbody>
        <tr>
            <td style="padding-bottom:20px;">
                <table>
                    <tbody style="">
                        <tr>
                            <td style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px; background-color: #f29221; padding: 10px; text-align: center;">
                                <a href="{link}" style="height: 50px; width: 100px; text-align: center; color: #FFF; background-color: #f29221; text-decoration: none; text-transform: uppercase;">View Quote Details</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

         <tr>
            <td style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px">Team Shipa Freight
            </td>
        </tr>
    </tbody>
</table>

<!--Footer Email template-->
<table width="600" style="background-color: #333; font-family: 'Open Sans', sans-serif; width: 600px; margin: auto; padding: 15px 20px; text-align: center">
    <tbody>
        <tr>
            <td style="color: #fff; text-align: left">
                <span style="color: #CCCCCC; text-decoration: none; font-size: 12px">{copyright} <a href="http://www.agility.com" target="_blank" style="text-decoration: none; color: #CCCCCC">Agility</a></span>
            </td>
            <td style="color: #fff; text-align: right">
                <span style="color: #CCCCCC; text-decoration: none; font-size: 12px"><a href="{webappurl}" target="_blank" style="text-decoration: none; color: #CCCCCC">{webappurl}</a></span>
            </td>
        </tr>
    </tbody>
</table>

