<table width="600px" style="margin: auto;">
    <tbody>
        <tr>
            <td style="width: 600px;">
                <img src="https://apps.agility.com/AgilityDelivers/AGFX/header_new.jpg">
            </td>
        </tr>
    </tbody>
</table>
<table width="600px" style="margin: auto; font-family: 'Open Sans', sans-serif; padding-top: 20px;">
    <tbody>
        <tr>
            <td style="padding-left: 20px; font-weight: 00; font-size: 1.6rem;">Hi {user_name},
            </td>

        </tr>
        <tr>
            <td style="font-family: 'Open Sans', sans-serif; padding-left: 20px; width: 420px; font-weight: 600; font-size: 1.7rem;">
                <span style="color: #a7a7a7;">Your
                </span>
                <span style="color: #000000; text-decoration: none;">Shipment has {status}
                </span>
                <br>
            </td>

            <td style="width: 200; padding-left: 20px; padding-right: 20px;">
                <a href="{url}" style="color: #f29221; text-decoration: none;">View in browser</a>
                <br>
            </td>
        </tr>
    </tbody>
</table>

<table style="width: 600px; margin: auto; padding: 20px">
    <tbody>
        <tr style="width: 100%;">
            <td>
                <table style="width: 100%; background-color: #f5f5f5; font-family: 'Open Sans', sans-serif; padding: 10px;">
                    <tbody>

                        <tr>
                            <td>
                                <table style="width: 100%; font-family: 'Open Sans', sans-serif;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span style="font-size: 1.5rem; color: #827e7e;">Consignment ID:</span>
                                                <span style="color: #000; font-size: 1.5rem;">{consignment_id}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>
<table style="font-family: 'Open Sans', sans-serif; width: 600px; margin: auto; padding: 20px; padding-top: 0px;">
    <tbody>
        <tr>
            <td style="padding-top: 10px; padding-bottom: 10px;">
                <span style="color: #a7a7a7; font-weight: 600;">Booking ID</span>
                <br>
                <span style="font-weight: 600;">{booking_id}</span>
            </td>

            <td style="padding-top: 10px; padding-bottom: 10px; line-height: 1.4rem;">
                <span style="color: #a7a7a7; font-weight: 600;">Booking Date</span>
                <br>
                <span style="font-weight: 600;">{booking_date}</span>
            </td>

        </tr>
        <tr>
            <td style="padding-top: 10px; padding-bottom: 10px; line-height: 1.4rem;">
                <span style="color: #a7a7a7; font-weight: 600;">Mode of Transport</span>
                <br>
                <span style="">
                    <img src="https://apps.agility.com/AgilityDelivers/AGFX/{imag}.png" style="position: relative; top: 0px;">
                </span><span style="font-weight: 600;">{transport_mode}</span>
            </td>

            <td style="padding-top: 10px; padding-bottom: 10px; line-height: 1.4rem;">
                <span style="color: #a7a7a7; font-weight: 600;">Movement type</span>
                <br>
                <span style=""></span><span style="font-weight: 600;">{Mvnt_type}</span>
            </td>
        </tr>
        <tr>
            <td style="padding-top: 10px; padding-bottom: 10px; line-height: 1.4rem;">
                <span style="color: #a7a7a7; font-weight: 600;">Shipper</span>
                <br>
                <span></span><span style="font-weight: 600;">{Shipper_name}</span>
            </td>

            <td style="padding-top: 10px; padding-bottom: 10px; line-height: 1.4rem;">
                <span style="color: #a7a7a7; font-weight: 600;">Consignee	</span>
                <br>
                <span style="font-weight: 600;">{consignee_name}</span>
            </td>

        </tr>
        <tr>
            <td style="padding-top: 10px; padding-bottom: 10px; line-height: 1.4rem;">
                <span style="color: #a7a7a7; font-weight: 600;">Place of receipt</span>
                <br>
                <span style="font-weight: 600;">{receipt_place}</span>
            </td>
            <td style="padding-top: 10px; padding-bottom: 10px;">
                <span style="color: #a7a7a7; font-weight: 600;">Place of Delivery</span>
                <br>
                <span style="font-weight: 600;">{del_place}</span>
            </td>
        </tr>
        <tr>
            <td style="padding-top: 10px; padding-bottom: 10px; line-height: 1.4rem;">
                <br>
                <span style="font-weight: 600;">{pckage_type}</span>
            </td>
        </tr>
        <tr>

            <td style="padding-top: 10px; padding-bottom: 10px;">
                <span style="color: #a7a7a7; font-weight: 600;">Weight</span>
                <br>
                <span style="font-weight: 600;">{weight} Kgs</span>
            </td>

            <td style="padding-top: 10px; padding-bottom: 10px; line-height: 1.4rem;">
                <span style="color: #a7a7a7; font-weight: 600;">CBM</span>
                <br>
                <span style="font-weight: 600;">{cbm}</span>
            </td>
        </tr>

    </tbody>
</table>

<table style="background-color: #000; font-family: 'Open Sans', sans-serif; width: 600px; margin: auto; padding: 15px 20px;">
    <tbody>
        <tr>

            <td style="color: #a5a5a5;">
                <a href="#" style="color: #a5a5a5; text-decoration: none;">www. agilityfreightx .com</a>
            </td>
            <td style="color: #a5a5a5;">
                <a href="#" style="color: #a5a5a5; text-decoration: none;">How it works</a>
            </td>
            <td style="color: #a5a5a5;">
                <a href="#" style="color: #a5a5a5; text-decoration: none;">FAQ</a>
            </td>


            <td style="color: #a5a5a5;">
                <a href="#" style="color: #a5a5a5; text-decoration: none;">Visit us at www. agility .com
                </a>
            </td>

        </tr>
    </tbody>
</table>


<!--<tr>

                            <td>
                                <table style="width: 100%; line-height: 1.9rem; font-family: 'Open Sans', sans-serif;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img src="https://apps.agility.com/AgilityDelivers/AGFX/departure-g.png">
                                            </td>
                                            <td style="color: #bbb6b6;">
                                                <span style="font-weight: 600; color: #bbb6b6;">{nxtevnt} </span>| <span style="color: #bbb6b6;">{nxtevnttime}</span> |
															<span style="color: #bbb6b6;">{nxtevntdate}</span><br>
                                                <span style="color: #bbb6b6;">{nxtevntplcae}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="https://apps.agility.com/AgilityDelivers/AGFX/receipt-of-goods-o.png">
                                            </td>
                                            <td>
                                                <span style="font-weight: 600; color: #737373;">{crntevnt}</span> | <span style="color: #737373;">{crntevntTime}</span> |
															<span style="color: #737373;">{crntevntDate}</span><br>
                                                <span style="color: #737373;">{crntevntplace}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>

                        </tr>-->
