﻿<table width="600px" style="margin: auto;">
    <tbody>
        <tr>
            <td style="width: 600px;">
                <img src="https://apps.agility.com/AgilityDelivers/AGFX/header_new.jpg">
            </td>
        </tr>
    </tbody>
</table>

<table width="600px" style="margin: auto; font-family: 'Open Sans', sans-serif; padding-top: 20px;">
        <tbody>
            <tr>
                <td style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;padding:10px 0">Dear {user_name},
                </td>
            </tr>
            <tr>
            <td style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px; padding: 10px 0">Thanks for making a payment on Shipa Freight.</td>
        </tr>
              </tbody>
    </table>

<table width="600" style="background-color: #f0f0f0; width: 600px; margin: auto;padding-bottom: 20px">
    <tbody>
        <tr>
            <td style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;padding:10px 20px">
               If you have any question about your shipment or need help please do not hesitate to contact us at <a href="mailto:cet@shipafreight.com">cet@shipafreight.com</a>.
            </td>
        </tr>  
         <tr>
            <td style="padding: 5px 20px 20px 20px; color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px">Team Shipa Freight
            </td>
        </tr>     
    </tbody>
</table>
 
 <!--Footer Email template-->
     <table width="600" style="background-color: #333; font-family: 'Open Sans', sans-serif; width: 600px; margin: auto; padding: 15px 20px; text-align: center">
        <tbody>
        <tr>
            <td style="color: #fff; text-align: left">
               <span style="color: #CCCCCC; text-decoration: none; font-size: 12px">{copyright} <a href="http://www.agility.com" target="_blank" style="text-decoration: none; color: #CCCCCC">Agility</a></span>
            </td>
            <td style="color: #fff; text-align: right">
                <span style="color: #CCCCCC; text-decoration: none; font-size: 12px"><a href="{webappurl}" target="_blank" style="text-decoration: none; color: #CCCCCC">{webappurl}</a></span>
            </td>
        </tr>
        </tbody>
    </table>

