﻿<table width="600px" style="margin: auto;">
    <tbody>
        <tr>
            <td style="width: 600px;">
                <img src="https://apps.agility.com/AgilityDelivers/AGFX/header_new.jpg">
            </td>
        </tr>
    </tbody>
</table>
<table width="600px" style="margin: auto; font-family: 'Open Sans', sans-serif; padding-top: 20px;">
    <tbody>
        <tr>
            <td style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px;">Hi {user},
            </td>
        </tr>
       
    </tbody>
</table>
<table width="600" style="background-color: #f0f0f0; margin: auto;">
    <tbody>
        <tr>
            <td style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px; padding: 10px 20px">
                <p style="margin-top: 5px;">{body}</p>
            </td>

        </tr>
         <tr>

            <td style="padding: 20px; padding-top: 0">
                <table>
                    <tbody>
                        <tr>
                            <td style="font-family: 'Open Sans', sans-serif; background-color: #f29221; width: 200px; padding: 10px; text-align: center; color: #FFF;">
                                <a href="{webappurl}" style="height: 50px; width: 100px; text-align: center; color: #FFF; background-color: #f29221; padding: 10px; text-decoration: none;">Visit Shipa Freight</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>

        </tr>
        <tr>
            <td style="padding: 5px 20px 20px 20px; color: #333; font-family: 'Open Sans', sans-serif; font-size: 16px">Team Shipa Freight
            </td>
        </tr>
         
    </tbody>
</table>

<!--Footer Email template-->
<table width="600" style="background-color: #333; font-family: 'Open Sans', sans-serif; width: 600px; margin: auto; padding: 15px 20px; text-align: center">
    <tbody>
        <tr>
            <td style="color: #fff; text-align: left">
                <span style="color: #CCCCCC; text-decoration: none; font-size: 12px">{copyright} <a href="http://www.agility.com" target="_blank" style="text-decoration: none; color: #CCCCCC">Agility</a></span>
            </td>
            <td style="color: #fff; text-align: right">
                <span style="color: #CCCCCC; text-decoration: none; font-size: 12px"><a href="{webappurl}" target="_blank" style="text-decoration: none; color: #CCCCCC">{webappurl}</a></span>

            </td>
        </tr>
    </tbody>
</table>

